/* === Valores === */

:root {
    --fontezinha-primaria: "STIX Two Text", serif;

	--cor-de-fundo:#eed2a9;

}

/* === Estilos globais === */

body {
	background-color: var(--cor-de-fundo);
	font-family: var(--fontezinha-primaria);
	font-size: 130%;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

img {
	max-width: 400px;
	width: 100%;
}

