<header class="site-header">

	<nav class="nav-do-header" aria-label="Navegação principal">

		<a class="marca-do-site" href="/">

			<span class="marca-do-site__titulo">Guilherme Vardacosta</span>
			<span class="marca-do-site__subtitulo">leituras e fantasia clássica</span>

		</a>

		<ul class="links-do-header">

			<li><a class="botao botao-um" href="/" aria-current="page">Início</a></li>
			<li><a class="botao botao-um-outline" href="/blog">Blog</a></li>
			<li><a class="botao botao-um-outline" href="/sobre">Sobre</a></li>
			<li><a class="botao botao-um-outline" href="/contato">Contato</a></li>

		</ul>

	</nav>

</header>